<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="appCommentDaoMapper">
	<insert id="insert" parameterType="List">
	  insert into t_comment (CommentID, Modular, BusiID, ConcernedUserID, ConcernedNickName, ConcernedUserPic, 
        CommentTime, CommentText, CommentStatus )
      values (#{commentid,jdbcType=VARCHAR}, #{modular,jdbcType=VARCHAR}, #{busiid,jdbcType=VARCHAR}, 
      #{concerneduserid,jdbcType=VARCHAR}, #{concernednickname,jdbcType=VARCHAR}, #{concerneduserpic,jdbcType=VARCHAR}, 
      #{commenttime,jdbcType=TIMESTAMP}, #{commenttext,jdbcType=VARCHAR}, #{commentstatus,jdbcType=VARCHAR}
      )
      </insert>
      
    <select id="selectMaxId" resultType="String">
        select max(CommentID) from t_comment
    </select>
<!--     选择一条数据 -->
    <select id="selectOne" parameterType="Map" resultMap="baseMapper.appCommentBaseDtoMap">
        select 
       CommentID, Modular, BusiID, ConcernedUserID, ConcernedNickName, ConcernedUserPic, 
       CommentTime, CommentText, CommentStatus
       from t_comment
       <where>
        CommentID=#{searchDto.commentid,jdbcType=VARCHAR}
       </where>
    </select>
    
    <select id="selectOneUser" parameterType="Map" resultMap="baseMapper.appCommentBaseDtoMap">
        select userid as ConcernedUserID,nickname as ConcernedNickName,userpic as ConcernedUserPic
       from t_user_baseinfo
       <where>
        userid=#{searchDto.userid,jdbcType=VARCHAR}
       </where>
    </select>
<!--     查找多条数据-->
    <select id="selectList" parameterType="Map" resultMap="baseMapper.appCommentBaseDtoMap">
       select  CommentID, Modular, BusiID, ConcernedUserID, ConcernedNickName, ConcernedUserPic, 
       CommentTime, CommentText, CommentStatus
       from t_comment
       <where>
	       <trim prefixOverrides="and">
	       		<if test="searchDto.busiid!=null and searchDto.busiid!=''">
		          and  busiid =#{searchDto.busiid,jdbcType=VARCHAR}
		        </if>
		        <if test="searchDto.commenttext!=null and searchDto.commenttext!=''">
		          and  commenttext like CONCAT('%',#{searchDto.commenttext,jdbcType=VARCHAR},'%')
		        </if>
		        <if test="searchDto.userid!=null and searchDto.userid!=''">
		          and  concerneduserid =#{searchDto.userid,jdbcType=VARCHAR}
		        </if>
		        
		        <if test="searchDto.validstate!=null and searchDto.validstate!=''">  
		         	and commentstatus =#{searchDto.validstate,jdbcType=VARCHAR}
		        </if>
	        </trim>
       </where>
       <if test="searchDto.page!=null">
          limit  #{searchDto.page.startIndex}, #{searchDto.page.pageSize}
       </if>
    </select>
<!--     更新一条数据 -->
    <update id="update" parameterType="appCommentBaseDto">
        update t_comment
              set 
              <trim suffixOverrides=",">
	          <if test="modular!=null and modular!=''">
	           Modular = #{modular,jdbcType=VARCHAR},
	          </if>
	          <if test="busiid!=null and busiid!=''">
	           BusiID = #{busiid,jdbcType=VARCHAR},
	          </if>  
	          <if test="concerneduserid!=null and concerneduserid!=''">
	            ConcernedUserID = #{concerneduserid,jdbcType=VARCHAR},
	          </if> 
	          <if test="concernednickname!=null and concernednickname!=''">
	            ConcernedNickName = #{concernednickname,jdbcType=VARCHAR},
	          </if> 
	          <if test="concerneduserpic!=null and concerneduserpic!=''">
	            ConcernedUserPic = #{concerneduserpic,jdbcType=VARCHAR},
	          </if> 
	           <if test="commenttime!=null and commenttime!=''">
	            CommentTime = #{commenttime,jdbcType=TIMESTAMP},
	          </if>  
	          <if test="commenttext!=null and commenttext!=''">
	             CommentText = #{commenttext,jdbcType=VARCHAR},
	          </if>  
	          <if test="commentstatus!=null and commentstatus!=''">
	            CommentStatus = #{commentstatus,jdbcType=VARCHAR},
	          </if>    
          </trim>         
            where    commentid = #{commentid,jdbcType=VARCHAR}
    </update>
<!--     删除已条数据 -->
    <delete id="deleteById" parameterType="appCommentBaseDto">
       delete from  t_comment where  commentid=#{commentid,jdbcType=VARCHAR}
    </delete>
    
    <select id="count" parameterType="Map" resultType="int">
        select count(*) from  t_comment
         <where>
            <trim prefixOverrides="and">
	       		<if test="searchDto.busiid!=null and searchDto.busiid!=''">
		          and  busiid =#{searchDto.busiid,jdbcType=VARCHAR}
		        </if>
		        <if test="searchDto.commenttext!=null and searchDto.commenttext!=''">
		          and  commenttext like CONCAT('%',#{searchDto.commenttext,jdbcType=VARCHAR},'%')
		        </if>
		        <if test="searchDto.userid!=null and searchDto.userid!=''">
		          and  concerneduserid =#{searchDto.userid,jdbcType=VARCHAR}
		        </if>
		        
		        <if test="searchDto.validstate!=null and searchDto.validstate!=''">  
		         	and commentstatus =#{searchDto.validstate,jdbcType=VARCHAR}
		        </if>
	        </trim>
       </where>
        
       
       
    </select>
</mapper>