<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="appFlowerDaoMapper">
	<insert id="insert" parameterType="List">
		insert into t_flower (Modular, BusiID, UserID, NickName, FlowerCnt, CommenTime )
    values (#{modular,jdbcType=VARCHAR}, #{busiid,jdbcType=VARCHAR}, #{userid,jdbcType=VARCHAR}, 
      #{nickname,jdbcType=VARCHAR}, #{flowercnt,jdbcType=INTEGER}, #{commentime,jdbcType=TIMESTAMP}
      )
   </insert>
      
   
<!--     选择一条数据 -->
    <select id="selectOne" parameterType="Map" resultMap="baseMapper.appFlowerBaseDtoMap">
        select  Modular, BusiID, UserID, NickName, FlowerCnt, CommenTime from t_Flower
       <where>
        BusiID=#{searchDto.busiid,jdbcType=VARCHAR} and  UserID=#{searchDto.userid,jdbcType=VARCHAR}
       </where>
    </select>
<!--     查找多条数据-->
    <select id="selectList" parameterType="Map" resultMap="baseMapper.appFlowerBaseDtoMap">
       select  Modular, BusiID, UserID, NickName, FlowerCnt, CommenTime from t_Flower
       <where>
	       <trim prefixOverrides="and">
	       		<if test="searchDto.busiid!=null and searchDto.busiid!=''">
		          and  busiid =#{searchDto.busiid,jdbcType=VARCHAR}
		        </if>
		        <if test="searchDto.nickname!=null and searchDto.nickname!=''">
		          and  nickname like CONCAT('%',#{searchDto.nickname,jdbcType=VARCHAR},'%')
		        </if>
		        <if test="searchDto.userid!=null and searchDto.userid!=''">
		          and  userid =#{searchDto.userid,jdbcType=VARCHAR}
		        </if>
		        
	        </trim>
       </where>
       <if test="searchDto.page!=null">
          limit  #{searchDto.page.startIndex}, #{searchDto.page.pageSize}
       </if>
    </select>
<!--     更新一条数据 -->
    <update id="update" parameterType="appFlowerBaseDto">
        update t_Flower
              set 
              <trim suffixOverrides=",">
	          <if test="nickname!=null and nickname!=''">
	           nickname = #{nickname,jdbcType=VARCHAR},
	          </if>
	          <if test="modular!=null and modular!=''">
	           modular = #{modular,jdbcType=VARCHAR},
	          </if>  
	          <if test="flowercnt!=null and flowercnt!=''">
	             flowercnt =  #{flowercnt,jdbcType=INTEGER},
	          </if>
	           <if test="commentime!=null and commentime!=''">
	           commentime = #{commentime,jdbcType=TIMESTAMP},
	          </if>      
          </trim>         
           where    BusiID=#{busiid,jdbcType=VARCHAR} and  UserID=#{userid,jdbcType=VARCHAR}
    </update>
<!--     删除已条数据 -->
    <delete id="deleteById" parameterType="appFlowerBaseDto">
       delete from  t_Flower  where BusiID=#{searchDto.busiid,jdbcType=VARCHAR} and  UserID=#{searchDto.userid,jdbcType=VARCHAR}
    </delete>
    
    <select id="count" parameterType="Map" resultType="int">
        select count(*) from  t_Flower
         <where>
           <trim prefixOverrides="and">
	       		<if test="searchDto.busiid!=null and searchDto.busiid!=''">
		          and  busiid =#{searchDto.busiid,jdbcType=VARCHAR}
		        </if>
		        <if test="searchDto.nickname!=null and searchDto.nickname!=''">
		          and  nickname like CONCAT('%',#{searchDto.nickname,jdbcType=VARCHAR},'%')
		        </if>
		        <if test="searchDto.userid!=null and searchDto.userid!=''">
		          and  userid =#{searchDto.userid,jdbcType=VARCHAR}
		        </if>
		        
	        </trim>
       </where>
        
       
       
    </select>
</mapper>