<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="appPicHuibenDaoMapper">
	<insert id="insert" parameterType="List">
		 insert into t_pichuiben (HuibenID, PicbookID, PicbookName, 
      PicbookURL, PicScene, AudioID, 
      AudioName, AudioURL, AudioLength, 
      AudioContent, UserID, NickName, 
      UserPic, FlowerCnt, Status, 
      CommentCnt, CreateTime, Flag
      )
    values (#{huibenid,jdbcType=VARCHAR}, #{picbookid,jdbcType=VARCHAR}, #{picbookname,jdbcType=VARCHAR}, 
      #{picbookurl,jdbcType=VARCHAR}, #{picscene,jdbcType=VARCHAR}, #{audioid,jdbcType=VARCHAR}, 
      #{audioname,jdbcType=VARCHAR}, #{audiourl,jdbcType=VARCHAR}, #{audiolength,jdbcType=VARCHAR}, 
      #{audiocontent,jdbcType=VARCHAR}, #{userid,jdbcType=VARCHAR}, #{nickname,jdbcType=VARCHAR}, 
      #{userpic,jdbcType=VARCHAR}, #{flowercnt,jdbcType=INTEGER}, #{status,jdbcType=VARCHAR}, 
      #{commentcnt,jdbcType=INTEGER}, #{createtime,jdbcType=TIMESTAMP}, #{flag,jdbcType=VARCHAR}
      )
      </insert>
      
    <select id="selectMaxId" resultType="String">
        select max(huibenid) from t_pichuiben
    </select>
<!--     选择一条数据 -->
    <select id="selectOne" parameterType="Map" resultMap="baseMapper.appPicHuibenBaseDtoMap">
        select 
       HuibenID, PicbookID, PicbookName, PicbookURL, PicScene, AudioID, AudioName, AudioURL, 
    AudioLength, AudioContent, UserID, NickName, UserPic, FlowerCnt, Status, CommentCnt, 
    CreateTime, Flag from t_pichuiben
       <where>
        HuibenID=#{searchDto.huibenid,jdbcType=VARCHAR}
       </where>
    </select>
    <select id="selectOneUser" parameterType="Map" resultMap="baseMapper.appPicHuibenBaseDtoMap">
       select userid,nickname,userpic from t_user_baseinfo 
       <where>
        userid=#{searchDto.userid,jdbcType=VARCHAR}
       </where>
    </select>
    <select id="selectOnePicbook" parameterType="Map" resultMap="baseMapper.appPicHuibenBaseDtoMap">
       select  PicbookID,PicbookName,PicbookURL,PicScene from t_picbook
       <where>
        PicbookID=#{searchDto.picbookid,jdbcType=VARCHAR}
       </where>
    </select>
    <select id="selectOneAudio" parameterType="Map" resultMap="baseMapper.appPicHuibenBaseDtoMap">
       select AudioID,AudioName,AudioURL,AudioLength,AudioContent from t_audio
       <where>
        AudioID=#{searchDto.audioid,jdbcType=VARCHAR}
       </where>
    </select>
<!--     查找多条数据-->
    <select id="selectList" parameterType="Map" resultMap="baseMapper.appPicHuibenBaseDtoMap">
       
        select 
       HuibenID, PicbookID, PicbookName, PicbookURL, PicScene, AudioID, AudioName, AudioURL, 
    AudioLength, AudioContent, UserID, NickName, UserPic, FlowerCnt, Status, CommentCnt, 
    CreateTime, Flag from t_pichuiben
       <where>
	       <trim prefixOverrides="and">
	       		<if test="searchDto.huibenid!=null and searchDto.huibenid!=''">
		          and  huibenid =#{searchDto.huibenid,jdbcType=VARCHAR}
		        </if>
		        <if test="searchDto.picbookid!=null and searchDto.picbookid!=''">
		          and  picbookid =#{searchDto.picbookid,jdbcType=VARCHAR}
		        </if>
		        <if test="searchDto.picbookname!=null and searchDto.picbookname!=''">
		          and  picbookname like CONCAT('%',#{searchDto.picbookname,jdbcType=VARCHAR},'%')
		        </if>
		        <if test="searchDto.audioid!=null and searchDto.audioid!=''">
		          and  audioid =#{searchDto.audioid,jdbcType=VARCHAR}
		        </if>
		        <if test="searchDto.audioname!=null and searchDto.audioname!=''">
		          and  audioname like CONCAT('%',#{searchDto.audioname,jdbcType=VARCHAR},'%')
		        </if>
		        <if test="searchDto.userid!=null and searchDto.userid!=''">
		          and  userid =#{searchDto.userid,jdbcType=VARCHAR}
		        </if>
		        <if test="searchDto.nickname!=null and searchDto.nickname!=''">
		          and  nickname like CONCAT('%',#{searchDto.nickname,jdbcType=VARCHAR},'%')
		        </if>
		        
		        
		        <if test="searchDto.validstate!=null and searchDto.validstate!=''">  
		         	and status =#{searchDto.validstate,jdbcType=VARCHAR}
		        </if>
	        </trim>
       </where>
       <if test="searchDto.page!=null">
          limit  #{searchDto.page.startIndex}, #{searchDto.page.pageSize}
       </if>
    </select>
<!--     更新一条数据 -->
    <update id="update" parameterType="appPicHuibenBaseDto">
        update t_pichuiben
              set 
              <trim suffixOverrides=",">
		      <if test="picbookid != null">
		        PicbookID = #{picbookid,jdbcType=VARCHAR},
		      </if>
		      <if test="picbookname != null">
		        PicbookName = #{picbookname,jdbcType=VARCHAR},
		      </if>
		      <if test="picbookurl != null">
		        PicbookURL = #{picbookurl,jdbcType=VARCHAR},
		      </if>
		      <if test="picscene != null">
		        PicScene = #{picscene,jdbcType=VARCHAR},
		      </if>
		      <if test="audioid != null">
		        AudioID = #{audioid,jdbcType=VARCHAR},
		      </if>
		      <if test="audioname != null">
		        AudioName = #{audioname,jdbcType=VARCHAR},
		      </if>
		      <if test="audiourl != null">
		        AudioURL = #{audiourl,jdbcType=VARCHAR},
		      </if>
		      <if test="audiolength != null">
		        AudioLength = #{audiolength,jdbcType=VARCHAR},
		      </if>
		      <if test="audiocontent != null">
		        AudioContent = #{audiocontent,jdbcType=VARCHAR},
		      </if>
		      <if test="userid != null">
		        UserID = #{userid,jdbcType=VARCHAR},
		      </if>
		      <if test="nickname != null">
		        NickName = #{nickname,jdbcType=VARCHAR},
		      </if>
		      <if test="userpic != null">
		        UserPic = #{userpic,jdbcType=VARCHAR},
		      </if>
		      <if test="flowercnt != null">
		        FlowerCnt = #{flowercnt,jdbcType=INTEGER},
		      </if>
		      <if test="status != null">
		        Status = #{status,jdbcType=VARCHAR},
		      </if>
		      <if test="commentcnt != null">
		        CommentCnt = #{commentcnt,jdbcType=INTEGER},
		      </if>
		      <if test="createtime != null">
		        CreateTime = #{createtime,jdbcType=TIMESTAMP},
		      </if>
		      <if test="flag != null">
		        Flag = #{flag,jdbcType=VARCHAR},
		      </if>    
          </trim>         
            where    huibenid = #{huibenid,jdbcType=VARCHAR}
    </update>
<!--     删除已条数据 -->
    <delete id="deleteById" parameterType="appPicHuibenBaseDto">
       delete from t_pichuiben where huibenid=#{huibenid,jdbcType=VARCHAR}
    </delete>
    
    <select id="count" parameterType="Map" resultType="int">
        select count(*) from  t_pichuiben
         <where>
            <trim prefixOverrides="and">
	       		<if test="searchDto.huibenid!=null and searchDto.huibenid!=''">
		          and  huibenid =#{searchDto.huibenid,jdbcType=VARCHAR}
		        </if>
		        <if test="searchDto.picbookid!=null and searchDto.picbookid!=''">
		          and  picbookid =#{searchDto.picbookid,jdbcType=VARCHAR}
		        </if>
		        <if test="searchDto.picbookname!=null and searchDto.picbookname!=''">
		          and  picbookname like CONCAT('%',#{searchDto.picbookname,jdbcType=VARCHAR},'%')
		        </if>
		        <if test="searchDto.audioid!=null and searchDto.audioid!=''">
		          and  audioid =#{searchDto.audioid,jdbcType=VARCHAR}
		        </if>
		        <if test="searchDto.audioname!=null and searchDto.audioname!=''">
		          and  audioname like CONCAT('%',#{searchDto.audioname,jdbcType=VARCHAR},'%')
		        </if>
		        <if test="searchDto.userid!=null and searchDto.userid!=''">
		          and  userid =#{searchDto.userid,jdbcType=VARCHAR}
		        </if>
		        <if test="searchDto.nickname!=null and searchDto.nickname!=''">
		          and  nickname like CONCAT('%',#{searchDto.nickname,jdbcType=VARCHAR},'%')
		        </if>
		        
		        
		        <if test="searchDto.validstate!=null and searchDto.validstate!=''">  
		         	and status =#{searchDto.validstate,jdbcType=VARCHAR}
		        </if>
	        </trim>
       </where>
        
       
       
    </select>
</mapper>
