<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="appProgramDaoMapper">
	<insert id="insert" parameterType="List">
		 insert into t_program (ProgramID, ChannelID, ProgramName, ProgramURL, Duration, ProgramPic, 
      PlayCnt, FlowerCnt, Sort, LoadTime, Description, Status)
     values (#{programid,jdbcType=VARCHAR}, #{channelid,jdbcType=VARCHAR}, #{programname,jdbcType=VARCHAR}, 
      #{programurl,jdbcType=VARCHAR}, #{duration,jdbcType=VARCHAR}, #{programpic,jdbcType=VARCHAR}, 
      #{playcnt,jdbcType=INTEGER}, #{flowercnt,jdbcType=INTEGER}, #{sort,jdbcType=VARCHAR}, 
      #{loadtime,jdbcType=TIMESTAMP}, #{description,jdbcType=VARCHAR}, #{status,jdbcType=VARCHAR}
      )
      </insert>
      
    <select id="selectMaxId" resultType="String">
        select max(programid) from t_Program
    </select>
<!--     选择一条数据 -->
    <select id="selectOne" parameterType="Map" resultMap="baseMapper.appProgramBaseDtoMap">
        select 
        ProgramID, ChannelID, ProgramName, ProgramURL, Duration, ProgramPic, PlayCnt, FlowerCnt, 
        Sort, LoadTime, Description, Status 
        from t_Program
       <where>
        Programid=#{searchDto.programid,jdbcType=VARCHAR}
       </where>
    </select>
<!--     查找多条数据-->
    <select id="selectList" parameterType="Map" resultMap="baseMapper.appProgramBaseDtoMap">
       select 
        ProgramID, ChannelID, ProgramName, ProgramURL, Duration, ProgramPic, PlayCnt, FlowerCnt, 
        Sort, LoadTime, Description, Status 
        from t_Program
       <where>
	       <trim prefixOverrides="and">
	       		<if test="searchDto.programid!=null and searchDto.programid!=''">
		          and  programid =#{searchDto.programid,jdbcType=VARCHAR}
		        </if>
		        <if test="searchDto.programname!=null and searchDto.programname!=''">
		          and  programname like CONCAT('%',#{searchDto.programname,jdbcType=VARCHAR},'%')
		        </if>
		        <if test="searchDto.channelid!=null and searchDto.channelid!=''">
		          and  channelid =#{searchDto.channelid,jdbcType=VARCHAR}
		        </if>
		        
		        <if test="searchDto.startdate!=null and searchDto.startdate!=''">
		            and  loadtime between #{searchDto.startdate,jdbcType=TIMESTAMP} and #{searchDto.enddate,jdbcType=TIMESTAMP}
		        </if>
		        <if test="searchDto.validstate!=null and searchDto.validstate!=''">  
		         	and status =#{searchDto.validstate,jdbcType=VARCHAR}
		        </if>
	        </trim>
       </where>
       <if test="searchDto.page!=null">
          limit  #{searchDto.page.startIndex}, #{searchDto.page.pageSize}
       </if>
    </select>
<!--     更新一条数据 -->
    <update id="update" parameterType="appProgramBaseDto">
        update t_Program
              set 
            <trim suffixOverrides=",">
	          <if test="programname!=null and programname!=''">
	           programname = #{programname,jdbcType=VARCHAR},
	          </if>
	          <if test="channelid!=null and channelid!=''">
	           channelid = #{channelid,jdbcType=VARCHAR},
	          </if>  
	          <if test="programurl!=null and programurl!=''">
	             programurl =  #{programurl,jdbcType=VARCHAR},
	          </if> 
	          <if test="duration!=null and duration!=''">
	             duration =  #{duration,jdbcType=VARCHAR},
	          </if>
	          
	          <if test="playcnt!=null and playcnt!=''">
	             playcnt =  #{playcnt,jdbcType=INTEGER},
	          </if> 
	          <if test="flowercnt!=null and flowercnt!=''">
	             flowercnt =  #{flowercnt,jdbcType=INTEGER},
	          </if> 
	          <if test="sort!=null and sort!=''">
	             sort =  #{sort,jdbcType=VARCHAR},
	          </if> 
	          
	           <if test="loadtime!=null and loadtime!=''">
	           loadtime = #{loadtime,jdbcType=TIMESTAMP},
	          </if>  
	           <if test="description!=null and description!=''">
	            description =#{description,jdbcType=VARCHAR},
	          </if>  
	          <if test="status!=null and status!=''">
	            status =#{status,jdbcType=VARCHAR},
	          </if>     
          </trim>         
            where    Programid = #{programid,jdbcType=VARCHAR}
    </update>
<!--     删除已条数据 -->
    <delete id="deleteById" parameterType="appProgramBaseDto">
       delete from  t_Program  where Programid=#{programid,jdbcType=VARCHAR}
    </delete>
    
    <select id="count" parameterType="Map" resultType="int">
        select count(*) from  t_Program
         <where>
            <trim prefixOverrides="and">
	       		<if test="searchDto.programid!=null and searchDto.programid!=''">
		          and  programid =#{searchDto.programid,jdbcType=VARCHAR}
		        </if>
		        <if test="searchDto.programname!=null and searchDto.programname!=''">
		          and  programname like CONCAT('%',#{searchDto.programname,jdbcType=VARCHAR},'%')
		        </if>
		        <if test="searchDto.channelid!=null and searchDto.channelid!=''">
		          and  channelid =#{searchDto.channelid,jdbcType=VARCHAR}
		        </if>
		        
		        <if test="searchDto.loadtime!=null and searchDto.loadtime!=''">
		            and  loadtime between #{searchDto.startdate,jdbcType=TIMESTAMP} and #{searchDto.enddate,jdbcType=TIMESTAMP}
		        </if>
		        <if test="searchDto.validstate!=null and searchDto.validstate!=''">  
		         	and status =#{searchDto.validstate,jdbcType=VARCHAR}
		        </if>
	        </trim>
       </where>
        
       
       
    </select>
</mapper>

