<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="appPicbookDaoMapper">
	<insert id="insert" parameterType="List">
	insert into t_picbook (PicbookID, PicbookName, PicbookURL, UserID, NickName, PicCatalog, PicScene, PicBookSource, Uploadtime, PicbookStatus, FlowerCnt)
    values (#{picbookid,jdbcType=VARCHAR}, #{picbookname,jdbcType=VARCHAR}, #{picbookurl,jdbcType=VARCHAR}, 
      #{userid,jdbcType=VARCHAR}, #{nickname,jdbcType=VARCHAR}, #{piccatalog,jdbcType=VARCHAR}, 
      #{picscene,jdbcType=VARCHAR}, #{picbooksource,jdbcType=VARCHAR}, #{uploadtime,jdbcType=TIMESTAMP}, 
      #{picbookstatus,jdbcType=VARCHAR}, #{flowercnt,jdbcType=INTEGER})
      </insert>
      
    <select id="selectMaxId" resultType="String">
        select max(PicbookID) from t_Picbook
    </select>
<!--     选择一条数据 -->
    <select id="selectOne" parameterType="Map" resultMap="baseMapper.appPicbookBaseDtoMap">
        select PicbookID, PicbookName, PicbookURL, UserID, NickName, PicCatalog, PicScene, PicBookSource, 
        Uploadtime, PicbookStatus, FlowerCnt from t_Picbook
       <where>
        Picbookid=#{searchDto.picbookid,jdbcType=VARCHAR}
       </where>
    </select>
    
    <select id="selectOneUser" parameterType="Map" resultMap="baseMapper.appPicbookBaseDtoMap">
       select userid,nickname,userpic from t_user_baseinfo 
       <where>
        userid=#{searchDto.userid,jdbcType=VARCHAR}
       </where>
    </select>
    <select id="selectOnePicbook" parameterType="Map" resultMap="baseMapper.appPicbookBaseDtoMap">
       select  PicbookID,PicbookName,PicbookURL,PicScene from t_picbook
       <where>
        PicbookID=#{searchDto.picbookid,jdbcType=VARCHAR}
       </where>
    </select>
    <select id="selectOneAudio" parameterType="Map" resultMap="baseMapper.appPicbookBaseDtoMap">
       select AudioID,AudioName,AudioURL,AudioLength,AudioContent from t_audio
       <where>
        AudioID=#{searchDto.audioid,jdbcType=VARCHAR}
       </where>
    </select>
<!--     查找多条数据-->
    <select id="selectList" parameterType="Map" resultMap="baseMapper.appPicbookBaseDtoMap">
       select PicbookID, PicbookName, PicbookURL, UserID, NickName, PicCatalog, PicScene, PicBookSource, 
       Uploadtime, PicbookStatus, FlowerCnt from t_Picbook
       <where>
	       <trim prefixOverrides="and">
	       		<if test="searchDto.picbookid!=null and searchDto.picbookid!=''">
		          and  picbookid =#{searchDto.picbookid,jdbcType=VARCHAR}
		        </if>
		        <if test="searchDto.picbookname!=null and searchDto.picbookname!=''">
		          and  picbookname like CONCAT('%',#{searchDto.picbookname,jdbcType=VARCHAR},'%')
		        </if>
		        <if test="searchDto.userid!=null and searchDto.userid!=''">
		          and  userid =#{searchDto.userid,jdbcType=VARCHAR}
		        </if>
		        
		        <if test="searchDto.startdate!=null and searchDto.startdate!=''">
		            and  uploadtime between #{searchDto.startdate,jdbcType=TIMESTAMP} and #{searchDto.enddate,jdbcType=TIMESTAMP}
		        </if>
		        <if test="searchDto.validstate!=null and searchDto.validstate!=''">  
		         	and picbookstatus =#{searchDto.validstate,jdbcType=VARCHAR}
		        </if>
	        </trim>
       </where>
       <if test="searchDto.page!=null">
          limit  #{searchDto.page.startIndex}, #{searchDto.page.pageSize}
       </if>
    </select>
<!--     更新一条数据 -->
    <update id="update" parameterType="appPicbookBaseDto">
        update t_Picbook
              set 
              <trim suffixOverrides=",">
	          <if test="picbookname!=null and picbookname!=''">
	           picbookname = #{picbookname,jdbcType=VARCHAR},
	          </if>
	          <if test="picbookurl!=null and picbookurl!=''">
	           picbookurl = #{picbookurl,jdbcType=VARCHAR},
	          </if>  
	          <if test="userid!=null and userid!=''">
	             userid =  #{userid,jdbcType=VARCHAR},
	          </if> 
	          <if test="nickname!=null and nickname!=''">
	             nickname =  #{nickname,jdbcType=VARCHAR},
	          </if> 	          
	          <if test="piccatalog!=null and piccatalog!=''">
	             piccatalog =  #{piccatalog,jdbcType=VARCHAR},
	          </if> 
	          <if test="picscene!=null and picscene!=''">
	             picscene =  #{picscene,jdbcType=VARCHAR},
	          </if> 
	          <if test="picbooksource!=null and picbooksource!=''">
	             picbooksource =  #{picbooksource,jdbcType=VARCHAR},
	          </if>
	           <if test="uploadtime!=null and uploadtime!=''">
	           uploadtime = #{uploadtime,jdbcType=TIMESTAMP},
	          </if>  
	          <if test="picbookstatus!=null and picbookstatus!=''">
	            picbookstatus =#{picbookstatus,jdbcType=VARCHAR},
	          </if> 
	          <if test="flowercnt!=null and flowercnt!=''">
	            flowercnt =#{flowercnt,jdbcType=VARCHAR},
	          </if>      
          </trim>         
            where    picbookid = #{picbookid,jdbcType=VARCHAR}
    </update>
<!--     删除已条数据 -->
    <delete id="deleteById" parameterType="appPicbookBaseDto">
       delete from  t_Picbook  where Picbookid=#{picbookid,jdbcType=VARCHAR}
    </delete>
    
    <select id="count" parameterType="Map" resultType="int">
        select count(*) from  t_Picbook
         <where>
            <trim prefixOverrides="and">
	       		<if test="searchDto.picbookid!=null and searchDto.picbookid!=''">
		          and  picbookid =#{searchDto.picbookid,jdbcType=VARCHAR}
		        </if>
		        <if test="searchDto.picbookname!=null and searchDto.picbookname!=''">
		          and  picbookname like CONCAT('%',#{searchDto.picbookname,jdbcType=VARCHAR},'%')
		        </if>
		        <if test="searchDto.userid!=null and searchDto.userid!=''">
		          and  userid =#{searchDto.userid,jdbcType=VARCHAR}
		        </if>
		        
		        <if test="searchDto.startdate!=null and searchDto.startdate!=''">
		            and  uploadtime between #{searchDto.startdate,jdbcType=TIMESTAMP} and #{searchDto.enddate,jdbcType=TIMESTAMP}
		        </if>
		        <if test="searchDto.validstate!=null and searchDto.validstate!=''">  
		         	and picbookstatus =#{searchDto.validstate,jdbcType=VARCHAR}
		        </if>
	        </trim>
       </where>
       
    </select>
</mapper>