<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="ccSystemPostDaoMapper">
	<insert id="insert" parameterType="List">
	        insert into cc_systempost
		  ( postdesc, styleflag,enddate,startdate ,createdate,isnewflag, validstatus, remark, flag, systemcode)
		values
		  ( #{postdesc,jdbcType=VARCHAR}, #{styleflag,jdbcType=VARCHAR},#{enddate,jdbcType=TIMESTAMP},
		  #{startdate,jdbcType=TIMESTAMP},#{createdate,jdbcType=TIMESTAMP}, #{isnewflag,jdbcType=VARCHAR}, 
		  #{validstatus,jdbcType=VARCHAR}, #{remark,jdbcType=VARCHAR}, #{flag,jdbcType=VARCHAR}, #{systemcode,jdbcType=VARCHAR})
	</insert>
    <select id="selectMaxId" resultType="String">
        select max(systemcode) from CC_SYSTEMPOST
    </select>
<!--     选择一条数据 -->
    <select id="selectOne" parameterType="Map" resultMap="baseMapper.ccSystemPostBaseDtoMap">
        select postdesc,
       styleflag,
       enddate,
       createdate,
       startdate,
       isnewflag,
       (case when sysdate()  > enddate then '2'
       else validstatus end) as validstatus,
       remark,
       flag,
       systemcode from cc_systempost
       <where>
        systemcode=#{searchDto.systemcode,jdbcType=VARCHAR}
       </where>
    </select>
<!--     查找多条数据-->
    <select id="selectList" parameterType="Map" resultMap="baseMapper.ccSystemPostBaseDtoMap">
       <if test="searchDto.page!=null">
              SELECT * FROM
            (
            SELECT A.*, 1 RN
            FROM ( 
       </if>
        select postdesc,
       styleflag,
       enddate,
       createdate,
       startdate,
       isnewflag,
       (case when sysdate()  > enddate
       then '2'
       else validstatus end) as validstatus,
       remark,
       flag,
       systemcode from cc_systempost
       <where>
	       <trim prefixOverrides="and">
		        <if test="searchDto.postdesc!=null and searchDto.postdesc!=''">
		          and  postdesc like CONCAT('%',#{searchDto.postdesc,jdbcType=VARCHAR},'%') 
		        </if>
		        <if test="searchDto.remark!=null and searchDto.remark!=''">
		           and  remark like '%'||#{searchDto.remark,jdbcType=VARCHAR}||'%'
		        </if>
		        <if test="searchDto.startdate!=null and searchDto.startdate!=''">
		            and  to_char(startdate,'yyyy-MM-dd') =#{searchDto.startdate,jdbcType=VARCHAR}
		        </if>
		         <if test="searchDto.userValidstatus!=null and searchDto.userValidstatus!=''">
		           and   validstatus=#{searchDto.userValidstatus,jdbcType=VARCHAR} and sysdate()
		           <![CDATA[
		            < 
		            ]]>
		            enddate
		        </if>
	        </trim>
       </where>
       order by systemcode
       <if test="searchDto.page!=null">
         ) A  
       <if test="searchDto.validstate!=null">  
         where a.validstatus=1
         </if>
         ) t WHERE RN BETWEEN #{searchDto.page.startIndex} AND #{searchDto.page.endIndex}
       </if>
    </select>
<!--     更新一条数据 -->
    <update id="update" parameterType="ccSystemPostBaseDto">
        update cc_systempost
              set 
              <trim suffixOverrides=",">
	          <if test="postdesc!=null and postdesc!=''">
	           postdesc = #{postdesc,jdbcType=VARCHAR},
	          </if>
	          <if test="styleflag!=null and styleflag!=''">
	           styleflag = #{styleflag,jdbcType=VARCHAR},
	          </if>   
	           <if test="enddate!=null and enddate!=''">
	           enddate = #{enddate,jdbcType=TIMESTAMP},
	          </if> 
	          <if test="startdate!=null and startdate!=''">
	          startdate = #{startdate,jdbcType=TIMESTAMP},
	          </if>  
	          <if test="isnewflag!=null and isnewflag!=''">
	             isnewflag =  #{isnewflag,jdbcType=VARCHAR},
	          </if>   
	           <if test="validstatus!=null and validstatus!=''">
	             validstatus = #{validstatus,jdbcType=VARCHAR},
	          </if> 
	          <if test="remark!=null and remark!=''">
	            remark = #{remark,jdbcType=VARCHAR},
	          </if>
	          <if test="flag!=null and flag!=''">
	            flag =#{flag,jdbcType=VARCHAR},
	          </if>     
          </trim>         
            where    systemcode = #{systemcode,jdbcType=VARCHAR}
    </update>
<!--     删除已条数据 -->
    <delete id="deleteById" parameterType="ccSystemPostBaseDto">
       delete from  cc_systempost t where t.systemcode=#{systemcode,jdbcType=VARCHAR}
    </delete>
    <select id="count" parameterType="Map" resultType="int">
        select count(*) from 
        (select (case when sysdate()  > enddate
       then '2'
       else validstatus end) as validstatus from
        cc_systempost
         <where>
           <trim prefixOverrides="and">
                <if test="searchDto.postdesc!=null and searchDto.postdesc!=''">
                  and  postdesc like '%'||#{searchDto.postdesc,jdbcType=VARCHAR}||'%'
                </if>
                <if test="searchDto.remark!=null and searchDto.remark!=''">
                   and  remark like '%'||#{searchDto.remark,jdbcType=VARCHAR}||'%'
                </if>
                <if test="searchDto.startdate!=null and searchDto.startdate!=''">
                    and  to_char(startdate,'yyyy-MM-dd') =#{searchDto.startdate,jdbcType=VARCHAR}
                </if>
                 <if test="searchDto.userValidstatus!=null and searchDto.userValidstatus!=''">
                   and   validstatus=#{searchDto.userValidstatus,jdbcType=VARCHAR} and sysdate()
                   <![CDATA[
                    < 
                    ]]>
                    enddate
                </if>
            </trim>
       </where>
       ) a
       <where>
         <if test="searchDto.validstate!=null">
            a.validstatus=1
         </if>
       </where>
       
       
    </select>
</mapper>
