<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--我的工作任务定时查询 -->
<mapper namespace="ccTimeTaskMapper">
   <resultMap type="ccTimeTaskDto" id="ccTimeTaskDtoMap" extends="baseMapper.ccUserBaseDtoMap">
		<collection property="cdIndexBaseDtos" resultMap="baseMapper.cdIndexBaseDtoMap"></collection>
   </resultMap>
   <!--查询list-->
   <select id="selectList" parameterType="searchDto" resultMap="ccTimeTaskDtoMap" >
        select u.*,i.* from cc_user u inner join flow_indexpush p on p.comcode=u.comcode
		inner join cd_index i on i.indexcode=p.indexcode inner join cc_depposition d on d.deppositioncode=u.deppositioncode
		where d.deppostype='4' and to_char(p.statdate,'yyyyMM')=#{searchDto.statDate}
   </select>   
   
   <!--手工录入数据任务提醒list -->
   <select id="getDataInputList" parameterType="searchDto" resultMap="ccTimeTaskDtoMap">
        select c.* from cc_user c left join cc_depposition d on c.deppositioncode=d.deppositioncode
        where d.deppostype ='1'
        --and m.depcatg='0'
    and d.importlev = '1'
    and c.comcode='000000'
    and c.newdepcode in
    (SELECT distinct  m.newdepcode FROM cd_factor f inner join cc_fac2dep d on f.faccode=d.faccode  inner join cc_department m on m.newdepcode=d.inputdep where f.datafrom='12'
and  (f.useview='1' or ( f.usesupervise='1' and f.useview is null) or (f.usegroup='1' and f.useview is null and f.usesupervise is null)))
   </select>
   
   
</mapper>
