<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="ccUserDtoMapper">
    <!--用户的dto -->
    <resultMap type="ccUserDto" id="ccUserDtoMap" extends="baseMapper.ccUserBaseDtoMap">
        <association property="cdCompanyBaseDto"  resultMap="baseMapper.cdCompanyBaseDtoMap"></association> 
	    <association property="ccDepartmentBaseDto"  resultMap="baseMapper.ccDepartmentBaseDtoMap"></association> 
        <association property="ccDepPositionBaseDto"  resultMap="baseMapper.ccDepPositionBaseDtoMap"></association> 
    </resultMap>
    
     <!--查询用户表 SQL-->
    <sql id="CcUserBaseDtoSQL">
		select *
		from cc_user u
		left join cc_depposition d
		on d.deppositioncode=u.deppositioncode
	</sql>
	<!-- 插入用户信息 -->
	<insert id="insert" parameterType="CcUserBaseDto">
		<![CDATA[
			INSERT INTO cc_user
			(validstatus, usercode, remark, password,
			inputdate, flag,username,comcode,
			email, department,deppositioncode,newdepcode)
			VALUES
			(
			#{validstatus,jdbcType=VARCHAR},#{usercode,jdbcType=VARCHAR},#{remark,jdbcType=VARCHAR},#{password,jdbcType=VARCHAR},
			#{inputdate,jdbcType=DATE},#{flag,jdbcType=VARCHAR},#{username,jdbcType=VARCHAR},#{comcode,jdbcType=VARCHAR},
			#{email,jdbcType=VARCHAR},#{department,jdbcType=VARCHAR},#{deppositioncode,jdbcType=VARCHAR},#{newdepcode,jdbcType=VARCHAR}
			)
		]]>
	</insert>
	<!-- 更新用户信息 -->
	<update id="update" parameterType="CcUserDto">
		  update cc_user
    <set >
        
      <if test="validstatus != null" >
        VALIDSTATUS = #{validstatus,jdbcType=VARCHAR},
      </if>
      <if test="remark != null" >
        REMARK = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="password != null" >
        PASSWORD = #{password,jdbcType=VARCHAR},
      </if>
      <if test="inputdate != null" >
        INPUTDATE = #{inputdate,jdbcType=TIMESTAMP},
      </if>
      <if test="flag != null" >
        FLAG = #{flag,jdbcType=VARCHAR},
      </if>
      <if test="username != null" >
       username =#{username,jdbcType=VARCHAR},
      </if>
      <if test="comcode != null" >
       comcode =#{comcode,jdbcType=VARCHAR},
      </if>
      <if test="email != null" >
        EMAIL = #{email,jdbcType=VARCHAR},
      </if>
      <if test="riskremark != null" >
        RISKREMARK = #{riskremark,jdbcType=VARCHAR},
      </if>
      <if test="department != null" >
        DEPARTMENT = #{department,jdbcType=VARCHAR},
      </if>
      <if test="deppositioncode != null" >
        DEPPOSITIONCODE = #{deppositioncode,jdbcType=VARCHAR},
      </if>
      <if test="newdepcode != null" >
        NEWDEPCODE = #{newdepcode,jdbcType=VARCHAR},
      </if>
      <if test="logintimes != null" >
        logintimes = #{logintimes,jdbcType=INTEGER},
      </if>
    </set>
     WHERE usercode = #{usercode,jdbcType=VARCHAR}
	</update>
	<!-- 删除用户信息 -->
	<delete id="deleteById" parameterType="String">
		<![CDATA[
			DELETE cc_user
			WHERE usercode = #{usercode}
		]]>
	</delete>
	<!-- 查找用户信息集合 -->
	<select id="selectList" parameterType="Map" resultMap="ccUserDtoMap">
		 <if test="searchDto.page!=null">
	          SELECT * FROM
	        (
	        SELECT A.*, 1 RN
	        FROM ( 
	     </if>	select c.*,p.DEPPOSITIONNAME,p.VALIDSTATE,p.CREATEUSERCODE,p.CREATETIME,p.IMPORTLEV,p.remark as POSREMARK,p.deppostype
	        from cc_user c
	        <!--left join cc_department d on c.newdepcode=d.newdepcode-->
	        left join cc_depposition p on c.deppositioncode=p.deppositioncode 
	        <!--left join cd_company m on c.comcode=m.comcode-->
            where 1=1
			<if test="searchDto.userName != null and searchDto.userName != '' ">
				AND c.username like '%'||#{searchDto.userName}||'%'  
			</if>
			<if test="searchDto.userValidstatus != null and searchDto.userValidstatus!='' ">  
				AND c.validstatus=#{searchDto.userValidstatus} 
			</if>
			<if test="searchDto.deppostype != null and searchDto.deppostype!='' ">  
                AND p.deppostype=#{searchDto.deppostype} 
            </if>
            <if test="searchDto.importlev != null and searchDto.importlev!='' ">  
                AND p.importlev=#{searchDto.importlev} 
            </if>
			<if test="searchDto.comCode !=null and searchDto.comCode !=''">
		    	AND c.comcode=#{searchDto.comCode} 
			</if>
			<if test="searchDto.newDepCode !=null and searchDto.newDepCode !=''">
                AND c.newdepcode=#{searchDto.newDepCode} 
            </if>
            <if test="searchDto.depPositionCode !=null and searchDto.depPositionCode !=''">
                AND c.deppositioncode=#{searchDto.depPositionCode} 
            </if>
		 order by c.comcode,c.newdepcode,c.deppositioncode,c.usercode
		  <if test="searchDto.page!=null">
         ) A)t WHERE RN BETWEEN #{searchDto.page.startIndex} AND #{searchDto.page.endIndex}
         </if>
	</select>
	<!-- 查询邮箱模块的时候抄送人的 -->
    <select id="selectUserList" parameterType="Map" resultMap="ccUserDtoMap">
          select * From cc_user c left join 
			cc_department d on c.newdepcode=d.newdepcode
			left join cd_company m on c.comcode=m.comcode
			  where
			   c.comcode=#{searchDto.comCode} 
			   <!--  and 
			     c.newdepcode not in (
			select  nvl(d.newdepcode,0)   from cd_email_template t left join 
			CD_EMAIL_REC d on t.templatenum=d.templatenum
			where  
            <if test="searchDto.comCode !=null and searchDto.comCode !=''">
                c.comcode=#{searchDto.comCode} 
            </if>
            <if test="searchDto.templatecatno !=null and searchDto.templatecatno !=''">
            and t.templatecatno=#{searchDto.templatecatno} 
            </if>
            <if test="searchDto.moduleid !=null and searchDto.moduleid !=''">
            and t.moduleid=#{searchDto.moduleid} 
            </if>
             )
             <if test="searchDto.templatenum !=null and searchDto.templatenum !=''">
              or c.newdepcode in(
                select  nvl(d.newdepcode,0)  from cd_email_template t left join 
            CD_EMAIL_REC d on t.templatenum=d.templatenum
            where  
            
             t.templatenum=#{searchDto.templatenum} 
             )
               </if> -->
         order by c.usercode
    </select>
	
	<!-- 查找单个用户信息 -->
	<select id="selectOne" parameterType="Map" resultType="ccUserDto">
	 <include refid="CcUserBaseDtoSQL"/>
	  where 1=1
	  and usercode= #{searchDto.userCode,jdbcType=VARCHAR}
	</select>
	<select id="userlogin" parameterType="Map" resultMap="ccUserDtoMap">
		 <include refid="CcUserBaseDtoSQL"/>
		  left join cc_department m on m.newdepcode=u.newdepcode
		 where
		 ( usercode=#{searchDto.userName,jdbcType=VARCHAR} 
		 or username=#{searchDto.userName,jdbcType=VARCHAR} or email=#{searchDto.userName,jdbcType=VARCHAR})
		 and  password=#{searchDto.passWord,jdbcType=VARCHAR}
		 and validstatus='1'
	</select>
	<select id="userLogin4A" parameterType="Map" resultMap="ccUserDtoMap">
	    <include refid="CcUserBaseDtoSQL"/>
          left join cc_department m on m.newdepcode=u.newdepcode
         where  u.usercode=#{searchDto.userName,jdbcType=VARCHAR}
	</select>
	<!--校验用户代码-->
	<select id="veriCode" parameterType="String" resultType="int">
	   select count(*)　from cc_user 
	   where usercode=#{userCode,jdbcType=VARCHAR}
	</select>
	<!--用户的个数-->
	<select id="count" parameterType="Map" resultType="int">
	   select count(*) from cc_user c
	   where 1=1
            <if test="searchDto.userName != null and searchDto.userName != '' ">
                AND c.username like '%'||#{searchDto.userName}||'%'  
            </if>
            <if test="searchDto.userValidstatus != null and searchDto.userValidstatus!='' ">  
                AND c.validstatus=#{searchDto.userValidstatus} 
            </if>
            <if test="searchDto.comCode !=null and searchDto.comCode !=''">
                AND c.comcode=#{searchDto.comCode} 
            </if>
            <if test="searchDto.newDepCode !=null and searchDto.newDepCode !=''">
                AND c.newdepcode=#{searchDto.newDepCode} 
            </if>
	</select>
	
<!-- 	根据条件获得推送任务的人 员信息-->
	<!-- <select id="getSendTaskPustUserList" parameterType="Map" resultMap="ccUserDtoMap">
	    select u.*
	     from cd_indexduty d
	     inner join cc_depposition p
	       on p.department = d.maindepment
	      and p.deppostype in (#{searchDto.rectype,jdbcType=VARCHAR},3)
	      inner join cc_user u on u.newdepcode=d.maindepment
	      and u.comcode=#{searchDto.comCode,jdbcType=VARCHAR}
	      <if test="searchDto.taskCode!=null and searchDto.taskCode!=''">
	      inner join flow_indextask t on t.indexcode=d.indexcode
          and t.taskcode=#{searchDto.taskCode,jdbcType=VARCHAR}
	      </if>
	    <where>
	       <if test="searchDto.indexCode!=null and searchDto.indexCode!=''">
	       d.indexcode = #{searchDto.indexCode,jdbcType=VARCHAR}
	       </if>
	    </where>
	</select> -->
</mapper>
