<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--部门险种表-->
<mapper namespace="cdDepRiskMapper">
    <!-- 插入 -->
	<insert id="insertList" parameterType="List">
	         insert into cc_deprisk
               (  department,
                  classcode,
                  validstate,
                  createusercode,
                  createtime,
                  remark,
                  disabledate
                )
            (
            <foreach collection="list" item="item" index="index" separator="union all" >
            select
               #{item.department,jdbcType=VARCHAR}, #{item.classcode,jdbcType=VARCHAR}, 
               #{item.validstate,jdbcType=VARCHAR}, #{item.createusercode,jdbcType=VARCHAR},
              #{item.createtime,jdbcType=TIMESTAMP}, #{item.remark,jdbcType=VARCHAR},
              #{item.disabledate,jdbcType=TIMESTAMP}
               from dual
            </foreach>
            )
	</insert>
	 <!-- 查询 -->
     <select id="selectList" parameterType="Map" resultType="CdDepRiskDto">
         select * from cc_deprisk 
         where 1=1
         <if test="searchDto!=null and searchDto.newDepCode!=null  and searchDto.newDepCode!=''">
            and department=#{searchDto.newDepCode,jdbcType=VARCHAR}
         </if>
     </select>
    <!--删除-->
    <delete id="deleteById" parameterType="String">
	     delete cc_deprisk 
	     where department=#{department,jdbcType=VARCHAR}
	</delete>
    <!--查询部门含有的部门险种-->
    <select id="getDepRiskList" parameterType="Map" resultType="CdDepRiskDto">
       select distinct classcode from cc_deprisk where department in
        <foreach collection="depcode" item="dep"  open="(" separator="," close=")">  
            #{dep}  
        </foreach>
    </select>
    
   
</mapper>
