<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--模板信息表  -->
<mapper namespace="cdEmailTleMapper"> 
    
    
<!--    查询模板信息表 SQL-->
    <sql id="EmailTemplateBaseDtoSQL">
		select * from cd_email_template c 
		where 1=1
	</sql>
<!--	 查找模板信息List -->
	<select id="selectList" parameterType="Map" resultType="CdEmailTemplateBaseDto">
	     <if test="searchDto.page!=null">
              SELECT * FROM
            (
            SELECT A.*, 1 RN
            FROM ( 
         </if>
		 <include refid="EmailTemplateBaseDtoSQL"/>
		    <if test="searchDto.templatename!=null and searchDto.templatename!='' ">
				AND c.templatename like '%'||#{searchDto.templatename}||'%'
			</if>
			<if test="searchDto.moduleid != null and searchDto.moduleid !=''">
				AND c.moduleid =#{searchDto.moduleid,jdbcType=VARCHAR}  
			</if>
			<if test="searchDto.comCode != null and searchDto.comCode !=''">
                AND c.comcode =#{searchDto.comCode,jdbcType=VARCHAR}  
            </if>
            <if test="searchDto.validstate != null and searchDto.validstate !=''">
                AND c.validstate =#{searchDto.validstate,jdbcType=VARCHAR}  
            </if>
            order by  c.templatecatno
         <if test="searchDto.page!=null">
         ) A)t WHERE RN BETWEEN #{searchDto.page.startIndex} AND #{searchDto.page.endIndex}
         </if>
	</select>
<!--	 查找单个模板信息 -->
	<select id="selectOne" parameterType="Map" resultMap="baseMapper.cdEmailTemplateBaseDtoMap">
		 <include refid="EmailTemplateBaseDtoSQL"/>
		    <if test="searchDto.templatecatname != null and searchDto.templatecatname!=''">
				AND c.templatecatname =#{searchDto.templatecatname,jdbcType=VARCHAR}  
			</if>
			<if test="searchDto.templatenum != null and searchDto.templatenum !=''">
				AND c.templatenum =#{searchDto.templatenum,jdbcType=VARCHAR}  
			</if>
			<if test="searchDto.validstate != null and searchDto.validstate !=''">
                AND c.validstate =#{searchDto.validstate,jdbcType=VARCHAR}  
            </if>
			<if test="searchDto.templatecatno != null and searchDto.templatecatno !=''">
                AND c.templatecatno =#{searchDto.templatecatno,jdbcType=VARCHAR}  
            </if>
            <if test="searchDto.comCode != null and searchDto.comCode !=''">
                AND c.comcode =#{searchDto.comCode,jdbcType=VARCHAR}  
            </if>
	</select>
	<!--获得最大邮件模板代码 -->
	 <select id="getMaxCode" parameterType="Map" resultType="String">
       select max(templatenum) from CD_EMAIL_TEMPLATE 
    </select>
<!--	 插入模板信息 -->
	<insert id="insert" parameterType="CdEmailTemplateBaseDto">
	   insert into CD_EMAIL_TEMPLATE
     <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="templatenum != null" >
        TEMPLATENUM,
      </if>
      <if test="headoftempl != null" >
        HEADOFTEMPL,
      </if>
      <if test="bodyoftempl != null" >
        BODYOFTEMPL,
      </if>
      <if test="endoftempl != null" >
        ENDOFTEMPL,
      </if>
      <if test="signoftempl != null" >
        SIGNOFTEMPL,
      </if>
      <if test="createtime != null" >
        CREATETIME,
      </if>
      <if test="validstate != null" >
        VALIDSTATE,
      </if>
      <if test="createusercode != null" >
        CREATEUSERCODE,
      </if>
      <if test="templatename != null" >
        TEMPLATENAME,
      </if>
      <if test="remark != null" >
        REMARK,
      </if>
      <if test="templatecatno != null" >
        TEMPLATECATNO,
      </if>
      <if test="templatecatname != null" >
        TEMPLATECATNAME,
      </if>
      <if test="moduleid != null" >
        moduleid,
      </if>
      <if test="modulename != null" >
        modulename,
      </if>
      <if test="comcode != null" >
        comcode,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="templatenum != null" >
        #{templatenum,jdbcType=VARCHAR},
      </if>
      <if test="headoftempl != null" >
        #{headoftempl,jdbcType=VARCHAR},
      </if>
      <if test="bodyoftempl != null" >
        #{bodyoftempl,jdbcType=CLOB},
      </if>
      <if test="endoftempl != null" >
        #{endoftempl,jdbcType=VARCHAR},
      </if>
      <if test="signoftempl != null" >
        #{signoftempl,jdbcType=VARCHAR},
      </if>
      <if test="createtime != null" >
        #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="validstate != null" >
        #{validstate,jdbcType=VARCHAR},
      </if>
      <if test="createusercode != null" >
        #{createusercode,jdbcType=VARCHAR},
      </if>
      <if test="templatename != null" >
        #{templatename,jdbcType=VARCHAR},
      </if>
      <if test="remark != null" >
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="templatecatno != null" >
        #{templatecatno,jdbcType=VARCHAR},
      </if>
      <if test="templatecatname != null" >
        #{templatecatname,jdbcType=VARCHAR},
      </if>
      <if test="moduleid != null" >
        #{moduleid,jdbcType=VARCHAR},
      </if>
      <if test="modulename != null" >
        #{modulename,jdbcType=VARCHAR},
      </if>
      <if test="comcode != null" >
        #{comcode,jdbcType=VARCHAR}
      </if>
    </trim>
	</insert>
<!--	 更新模板信息 -->
	<update id="update" parameterType="CdEmailTemplateBaseDto">
		update CD_EMAIL_TEMPLATE
    <set >
      <if test="headoftempl != null" >
        HEADOFTEMPL = #{headoftempl,jdbcType=VARCHAR},
      </if>
      <if test="bodyoftempl != null" >
        BODYOFTEMPL = #{bodyoftempl,jdbcType=CLOB},
      </if>
      <if test="endoftempl != null" >
        ENDOFTEMPL = #{endoftempl,jdbcType=VARCHAR},
      </if>
      <if test="signoftempl != null" >
        SIGNOFTEMPL = #{signoftempl,jdbcType=VARCHAR},
      </if>
      <if test="createtime != null" >
        CREATETIME = #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="validstate != null" >
        VALIDSTATE = #{validstate,jdbcType=VARCHAR},
      </if>
      <if test="createusercode != null" >
        CREATEUSERCODE = #{createusercode,jdbcType=VARCHAR},
      </if>
      <if test="templatename != null" >
        TEMPLATENAME = #{templatename,jdbcType=VARCHAR},
      </if>
      <if test="remark != null" >
        REMARK = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="templatecatno != null" >
        TEMPLATECATNO = #{templatecatno,jdbcType=VARCHAR},
      </if>
      <if test="templatecatname != null" >
        TEMPLATECATNAME = #{templatecatname,jdbcType=VARCHAR}
      </if>
      <if test="moduleid != null" >
        moduleid =#{moduleid,jdbcType=VARCHAR},
      </if>
      <if test="modulename != null" >
        modulename = #{modulename,jdbcType=VARCHAR}
      </if>
       <if test="comcode != null" >
        comcode = #{comcode,jdbcType=VARCHAR}
      </if>
    </set>
     where  TEMPLATENUM = #{templatenum,jdbcType=VARCHAR}
	</update>
	
<!--	 删除模板信息 -->
	<delete id="deleteById" parameterType="Map">
			DELETE CD_EMAIL_TEMPLATE
			WHERE templatenum = #{searchDto.templatenum,jdbcType=VARCHAR}
	</delete>
<!-- 	查询有多少条数据 -->
	<select id="count" resultType="int" parameterType="Map">
	    select count(*) from cd_email_template c 
        where 1=1
	        <if test="searchDto.templatename!=null and searchDto.templatename!='' ">
				AND c.templatename like '%'||#{searchDto.templatename}||'%'
			</if>
			<if test="searchDto.doing!=null and searchDto.doing!='' ">
				AND c.templatename = #{searchDto.doing}
			</if>
			<if test="searchDto.moduleid != null and searchDto.moduleid !=''">
				AND c.moduleid =#{searchDto.moduleid,jdbcType=VARCHAR}  
			</if>
			<if test="searchDto.templatecatno != null and searchDto.templatecatno !=''">
                AND c.templatecatno =#{searchDto.templatecatno,jdbcType=VARCHAR}  
            </if>
			<if test="searchDto.comCode != null and searchDto.comCode !=''">
                AND c.comcode =#{searchDto.comCode,jdbcType=VARCHAR}  
            </if>
            <if test="searchDto.validstate != null and searchDto.validstate !=''">
                AND c.validstate =#{searchDto.validstate,jdbcType=VARCHAR}  
            </if>
	</select>
</mapper>
