<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="emailSendMapper">
    <resultMap type="emailSendDto" id="emailSendDtoMap">
        <result  column="newdepcode" property="newdepcode" jdbcType="VARCHAR" />
        <result  column="depname" property="depname" jdbcType="VARCHAR" />
        <result  column="bodyoftempl" property="bodyoftempl" jdbcType="VARCHAR" />
        <result  column="headoftempl" property="headoftempl" jdbcType="VARCHAR" />
        <result  column="statdate" property="statdate" jdbcType="VARCHAR" />
        <collection   column="indexname"  property="indexnames" ofType="String"></collection>
        <collection   property="ccUserBaseDtos"   resultMap="baseMapper.ccUserBaseDtoMap"></collection>
    </resultMap>
    <select id="selectList" resultMap="emailSendDtoMap"  parameterType="Map">
        SELECT i.indexname,u.email,u.usercode,u.username,u.deppositioncode,e.bodyoftempl,e.headoftempl,to_char(t.statdate,'yyyyMM') as statdate,d.depname,d.newdepcode FROM flow_indextask t 
			left join flow_indexpush p on p.indexcode=t.indexcode
			and t.statdate=p.statdate
			and p.comcode=t.comcode
			and p.channelcode=t.channelcode
			and p.classcode=t.classcode
			left join cd_email_template e 
			  on e.validstate='1'
			left join cc_user u
			on u.newdepcode=t.maindepmentcode
			and u.deppositioncode in ('DP0000004','DP0000005','DP0000009','DP0000010')
			left join cd_index i
			on i.indexcode=t.indexcode
			left join cc_department d 
			on d.newdepcode=t.maindepmentcode
			where t.emailsend='0'
			and p.pushstate='5'
			and e.templatenum=#{searchDto.templatecatno}
		    and p.comcode=#{searchDto.comCode}
		    and e.validstate='1'
			and t.statdate=(select max(k.statdate) from flow_indextask k)
        <!-- SELECT i.indexname,u.*,e.bodyoftempl,e.headoftempl,to_char(t.statdate,'yyyyMM') as statdate,d.depname
		  FROM
		  flow_email m
         left join cd_email_template e
		 on e.comcode=m.comcode
		  left join flow_indextask t
		    on t.indexcode = m.indexcode
		   and t.statdate = m.statdate
		   and t.comcode = m.comcode
		  left join cc_user u 
		  on u.newdepcode=t.maindepmentcode
		  left join cd_index i 
		  on i.indexcode=t.indexcode
		  left join cc_department d on 
		  d.newdepcode=t.maindepmentcode
		  where  e.templatenum=#{searchDto.templatecatno}
		  and e.comcode=#{searchDto.comCode} -->
    </select>
<!--     数据采集与报送的初次 -->
    <select id="getEmailBodyHandSumbit" resultMap="emailSendDtoMap"  parameterType="searchDto">
        SELECT  mm.*,u.email,u.usercode,u.username,u.deppositioncode,em.bodyoftempl,em.headoftempl,${statDate} as statdate,mm.newdepcode from 
(SELECT distinct  m.newdepcode,M.DEPNAME FROM cd_factor f inner join cc_fac2dep d on f.faccode=d.faccode  
        inner join cc_department m on m.newdepcode=d.inputdep where f.datafrom='12'
          and (f.validdate is null or f.validdate = '1')
          and (f.usesupervise='1' or ( f.usegroup='1' and f.usesupervise is null) or (f.useview='1' and f.usesupervise is null and f.usegroup is null))
           <if test= 'fetchrate!=null and fetchrate.equals("M")'>
                   and f.fetchrate='M'
           </if>
           <if test= ' fetchrate!=null and fetchrate.equals("Q")'>
                   and f.fetchrate in ('M','Q')
           </if>
           <if test= ' fetchrate!=null and fetchrate.equals( "H") '>
                   and f.fetchrate in ('M','Q','H')
           </if>
           <if test= ' fetchrate!=null and fetchrate.equals( "Y") '>
                   and f.fetchrate in ('M','Q','H','Y')
           </if> 
           )mm
           left join cc_user u on u.newdepcode=mm.newdepcode
           and u.deppositioncode in ('DP0000004','DP0000005','DP0000009','DP0000010')
          left join cd_email_template em 
          on em.templatenum=#{templatecatno} 
          where em.validstate='1'
    </select>
<!--     数据采集与报送的重录 -->
    <select id="getEmailBodyReentry" resultMap="emailSendDtoMap"  parameterType="searchDto">
        SELECT c.newdepcode,d.depname,u.email,u.usercode,u.username,c.statdate,e.bodyoftempl,e.headoftempl,u.deppositioncode
  FROM cc_facinputtrack_change c
  left join cc_department d
    on d.newdepcode = c.newdepcode
  left join cc_user u
    on u.newdepcode = c.newdepcode
    and u.deppositioncode in ('DP0000004','DP0000005','DP0000009','DP0000010')
  left join cd_email_template e
    on e.validstate='1'
  and e.templatenum=#{templatecatno}
   where c.statdate = (SELECT max(k.statdate) FROM cc_facinputtrack_change k)
   and c.emailsend='0'
    </select>
<!--     问题推送与整改的催办 -->
    <select id="getEmailCuiBan" resultMap="emailSendDtoMap"  parameterType="searchDto" >
    SELECT ci.indexname as indexname,u.usercode,u.username,u.email,u.deppositioncode,u.newdepcode,e.bodyoftempl,e.headoftempl,dm.depname,to_char(a.statdate,'yyyyMM') as statdate FROM ( 
    SELECT i.statdate,i.maindepmentcode,i.indexcode  FROM flow_indextask i where ceil (sysdate- i.pushdate)<![CDATA[ > ]]>0 and i.backnums='0'
    and i.comcode=#{comCode}
  union all
SELECT k.statdate,k.maindepmentcode,k.indexcode FROM (
SELECT m.*,add_months(m.pushdate,m.counts*m.backratea) as timea  FROM  
 (SELECT t.statdate,t.acceptorcode,t.comcode,t.maindepmentcode,t.taskcode,t.indexcode,t.backrate,(case t.backrate  when 'M' THEN 1
        when 'Q' THEN 3  when 'H' THEN 6 
        when 'Y' THEN 12 END) as backratea,t.pushdate,t.backnums,
          trunc(months_between(sysdate,t.pushdate)/(case t.backrate  when 'M' THEN 1
        when 'Q' THEN 3  when 'H' THEN 6 
        when 'Y' THEN 12 END)) as counts  FROM flow_indextask  t where t.changestate != '5'
   and t.backrate != '5' and t.backnums!='0' and t.comcode=#{comCode})m )k where trunc(sysdate,'dd')<![CDATA[ > ]]>trunc(k.timea,'dd') and k.backnums <![CDATA[ < ]]>k.counts
   )a left join 
   cc_user u on u.newdepcode=a.maindepmentcode 
   and u.deppositioncode in ('DP0000004','DP0000005','DP0000009','DP0000010')
   left join cd_email_template e on e.validstate='1'
   left join cd_index ci on ci.indexcode=a.indexcode 
   left join cc_department dm on dm.newdepcode=a.maindepmentcode
    where e.templatenum=#{templatecatno}
   </select> 
<!--  手工填表的催办 -->
   <select id="getEmailHandSumbitCuiBan"   resultMap="emailSendDtoMap"  parameterType="searchDto" >
    SELECT  d.newdepcode,u.usercode,u.username,u.email,e.bodyoftempl,e.headoftempl,u.deppositioncode,d.depname,${statDate} as statdate
     FROM cc_department d left join cc_user u on d.newdepcode=u.newdepcode
     and u.deppositioncode in ('DP0000004','DP0000005','DP0000009','DP0000010')
	left  join cd_email_template e on e.validstate='1' where e.templatenum=#{templatecatno}
	and d.newdepcode 
	in
	<foreach collection="depcodes" item="depcode"  open="(" separator="," close=")">  
            #{depcode}  
     </foreach>
   </select>
</mapper>
