body{ height:100%; background:#fff url(../../images/leftBg.png) repeat-y; color:#333;}

/* left nav */
.menuDiv { width:236px; float:left;}
.menuDiv h2{ background:#9cd0e6 url(../../images/content_bg.png) 0 0 repeat-x; height:40px; color:#fff; font-size:14px; letter-spacing:1px; padding-top:8px;}
.menuDiv h2 img{ width:32px; height:32px; margin:0px 10px;}
.menuDiv dd{ margin-top:5px; border-left:3px solid #daf1fb; background:url(../../images/left_dd_bg.png) 32px 6px no-repeat;}
.menuDiv dt{ margin-top:5px;}
.menuDiv dd.hover,.menuDiv dd.active{ background-color:#b9dbea; background-position:32px -28px; border-left:3px solid #f04023;}

.menuDiv li a,.menuDiv dd a,.menuDiv span{ line-height:24px; padding-left:52px; font-size:12px; color:#207190; display:block; cursor:pointer;}
.menuDiv dd.hover a,.menuDiv dd.active a{ color:#fff;}
.menuDiv span{ background:url(../../images/left_dt_bg.png) 17px 7px no-repeat; _background:url(../../images/left_dt_bg.gif) 17px 7px no-repeat; border-left:3px solid #daf1fb;}
.menuDiv span.hover{ background-color:#b9dbea; border-left:3px solid #f04023; color:#fff;}



.menuDiv dt.active span{ background-position:17px -34px;}
.menuDiv dt.active li span{ background-position:24px 9px;}
.menuDiv dt.active li.active span{ background-position:45px -15px;}

.menuDiv ul,.menuDiv ol{ display:none;}
.menuDiv ul li{ line-height:24px; margin-top:5px; float:left; width:236px;}
.menuDiv ul li a{ padding-left:64px;}
.menuDiv ul li span{ padding-left:61px; background:url(../../images/left_li_bg.gif) 24px 9px no-repeat;}
.menuDiv ul li h1 a{ padding-left:61px; background:url(../../images/left_li_bg.gif) 24px 9px no-repeat;}
.menuDiv ul li h1 a.hover{ padding-left:61px; background:url(../../images/left_li_bg.gif) 24px 9px no-repeat;background-color:#b9dbea;}
.menuDiv li .hover,.menuDiv li .active{ background-color:#b9dbea; border-left:3px solid #f04023; padding-left:61px; color:#fff;}
.menuDiv li li .hover,.menuDiv li li .active{ padding-left:76px;}
.menuDiv li .active{ color:#fff;}
.menuDiv li span.active{ color:#207190;}
.menuDiv ol li{ line-height:24px; margin-top:5px; float:left; width:236px;}
.menuDiv ol li a{ padding-left:79px; color:#207190; font-size:12px; display:block;}
.menuDiv ol .hover{ background-color:#b9dbea; background-position:21px 9px; border-left:3px solid #f04023; padding-left:76px;}
.leftHide{ position:relative;}
.leftHide p{ background:url(../../images/leftHide.png) left top no-repeat; width:22px; height:13px; overflow:hidden; cursor:pointer; position:absolute; left:0px; top:250px;}
.leftHide p.show{ background-position:right top;}
.fixed{ position:fixed; top:0; left:0; _position:absolute; /* _top:expression(offsetParent.scrollTop); */ z-index:888;}

