<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="ccDivDaoMapper">
    <!--查询 收藏夹 -->
	<select id="selectList" parameterType="Map" resultType="CcDivBaseDto">
		select * from cc_div
		   where 1=1
		<if test="searchDto.userCode !=null and searchDto.userCode!='' ">
			and usercode = #{searchDto.userCode,jdbcType=VARCHAR}
        </if>
	</select>
	<!--添加 收藏夹 -->
	<insert id="insert" parameterType="CcDivBaseDto">
		insert into cc_div
		(usercode,indexcode,createtime,validstate,remark)
		values
		(#{usercode,jdbcType=VARCHAR},#{indexcode,jdbcType=VARCHAR},
		#{createtime,jdbcType=TIMESTAMP},#{validstate,jdbcType=VARCHAR},
		#{remark,jdbcType=VARCHAR})
      </insert>
	<!--删除  收藏夹 -->
	<delete id="deleteById" parameterType="String">
		delete cc_div
		where indexcode=#{indexcode,jdbcType=VARCHAR}
      </delete>
      <delete id="deleteByCondition" parameterType="Map">
         delete cc_div
        where indexcode=#{ccDivBaseDto.indexcode,jdbcType=VARCHAR}
        and usercode=#{ccDivBaseDto.usercode,jdbcType=VARCHAR}
      </delete>
</mapper>
