<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="cdRiskKindMapper">
	<resultMap type="cdRiskKindDto" id="cdRiskKindDtoMap"></resultMap>

	<sql id="cdRiskKind">
		select riskcode, riskname, levelcode, fathercode from
		cd_riskkind
		where 1=1
	</sql>

	<!-- 用于做页面条件 -->
	<select id="selectList" resultMap="cdRiskKindDtoMap"
		parameterType="Map">
		<include refid="cdRiskKind" />
		<if test="searchDto!=null and searchDto.levelCode!=null">
		  and levelcode=#{searchDto.levelCode}
		</if>
		order by riskcode,levelcode
	</select>

	<!-- 返回指标名称 -->
	<select id="getRiskName" parameterType="Map" resultType="String">
		select riskname from
		cd_riskkind
		where 1=1
		<if test="searchDto.lev1RiskCode !=null and searchDto.lev1RiskCode !='' ">
			and riskcode = #{searchDto.lev1RiskCode,jdbcType=VARCHAR}
		</if>
		<if test="searchDto.lev2RiskCode !=null and searchDto.lev2RiskCode !='' ">
			and riskcode = #{searchDto.lev2RiskCode,jdbcType=VARCHAR}
		</if>
		<if test="searchDto.lev3RiskCode !=null and searchDto.lev3RiskCode !='' ">
			and riskcode = #{searchDto.lev3RiskCode,jdbcType=VARCHAR}
		</if>
		order by riskcode,levelcode
	</select>

</mapper>