<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="ccPositionMenuMapper">
    <resultMap type="CcPositionMenuDto" id="ccPositionMenuDtoMap" extends="baseMapper.ccPositionMenuBaseDtoMap">
    
    </resultMap>
    <!--查询  岗位菜单关系表 -->
    <select id="selectList" resultMap="ccPositionMenuDtoMap">
    
    
    </select>
    <!--插入 岗位菜单关系表 -->
    <insert id="insertList" parameterType="List">
        insert into cc_positionmenu
       (deppositioncode, menuid, validstate, createusercode, createtime, remark, importlev)
          (
            <foreach collection="list" item="item" index="index" separator="union all" >
            select
                #{item.deppositioncode,jdbcType=VARCHAR},#{item.menuid,jdbcType=VARCHAR},
	            #{item.validstate,jdbcType=VARCHAR},#{item.createusercode,jdbcType=VARCHAR},
	            #{item.createtime,jdbcType=VARCHAR},#{item.remark,jdbcType=VARCHAR},
	            #{item.importlev,jdbcType=VARCHAR} 
               from dual
            </foreach>
            )
    </insert>
    <!--更新  岗位菜单关系表-->
    <update id="update" parameterType="CcPositionMenuDto">
     update cc_positionmenu set
	         menuid=#{deppositionname,jdbcType=VARCHAR},
	         validstate=#{validstate,jdbcType=VARCHAR},
	         createusercode=#{createusercode,jdbcType=VARCHAR},
	         createtime=#{createtime,jdbcType=DATE},
	         remark=#{remark,jdbcType=VARCHAR},
	         importlev=#{importlev,jdbcType=VARCHAR}
	     where deppositioncode=#{deppositioncode,jdbcType=VARCHAR}
    </update>
    <delete id="deleteById" parameterType="CcPositionMenuDto">
      delete cc_positionmenu
      where deppositioncode=#{deppositioncode,jdbcType=VARCHAR} 
    </delete>
</mapper>
