<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="cdClassMapper">
	<resultMap type="cdClassDto" id="cdClassDtoMap"
		extends="baseMapper.cdClassBaseDtoMap">
		<result column="checked" property="checked" jdbcType="VARCHAR" />
	</resultMap>
	<select id="selectList" parameterType="Map" resultMap="cdClassDtoMap">
		select c.* from cd_class c
		<if
			test="searchDto!=null and searchDto.newDepCode!=null  and searchDto.newDepCode!=''">
			inner join cc_deprisk d on d.classcode=c.classcode
         </if>
		<where>
			<trim prefixOverrides="and">
				<if
					test="searchDto!=null and searchDto.newDepCode!=null  and searchDto.newDepCode!=''">
					and d.department=#{searchDto.newDepCode}
                </if>
			</trim>
		</where>
	</select>
	<!--获取险种List（包含勾选） -->
	<select id="selectListChecked" parameterType="Map" resultMap="cdClassDtoMap">
		select m.*,a.checked from cd_class m
		left join (select 1 as checked,classcode from cc_deprisk where
		department=#{searchDto.newDepCode,jdbcType=VARCHAR}) a
		on m.classcode = a.classcode
     </select>
</mapper>
