<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--模板信息表  -->
<mapper namespace="cdEmailTemplateMapper">
    <resultMap type="cdEmailRecDtoBase" id="cdEmailRecDtoBaseMap" extends="baseMapper.cdEmailRecBaseDtoMap">
        <association property="ccUserBaseDto" resultMap="baseMapper.ccUserBaseDtoMap"></association>
    </resultMap>
    <resultMap type="cdEmailTemplateDto" id="cdEmailTemplateDtoMap" extends="baseMapper.cdEmailTemplateBaseDtoMap">
        <collection property="CdEmailRecDtoBases" resultMap="cdEmailRecDtoBaseMap"></collection>
    </resultMap>
        
<!--    查询模板信息表 SQL-->
    <sql id="EmailTemplateBaseDtoSQL">
		select * from cd_email_template e
		left join cd_email_rec r on e.templatenum=r.templatenum
		left join cc_user u on u.usercode=r.recno
		left join cd_indexduty i on i.maindepment=r.newdepcode
		<if test="searchDto.taskCode!=null and searchDto.taskCode!=''">
		left join flow_indextask t on t.comcode=e.comcode and t.indexcode=i.indexcode
        and t.maindepmentcode=i.maindepment 
		</if>
		where e.validstate=1 
	</sql>
<!--	 查找模板信息List -->
	<select id="selectList" parameterType="Map" resultMap="cdEmailTemplateDtoMap">
		 <include refid="EmailTemplateBaseDtoSQL"/>
		   <if test="searchDto.taskCode!=null and searchDto.taskCode!=''">
                  AND     t.taskcode=#{searchDto.taskCode,jdbcType=VARCHAR} 
           </if>
		   <if test="searchDto.newDepCode != null and searchDto.newDepCode !=''">
                AND  r.newdepcode=#{searchDto.newDepCode,jdbcType=VARCHAR}  
            </if>
            <if test="searchDto.indexCode != null and searchDto.indexCode !=''">
                AND  i.indexcode=#{searchDto.indexCode,jdbcType=VARCHAR}  
            </if>
			<if test="searchDto.templatecatno != null and searchDto.templatecatno !=''">
				AND e.templatecatno =#{searchDto.templatecatno,jdbcType=VARCHAR}  
			</if>
			<if test="searchDto.comCode != null and searchDto.comCode !=''">
                AND e.comcode =#{searchDto.comCode,jdbcType=VARCHAR}  
            </if>
	</select>
     <select id="selectOne" parameterType="Map" resultMap="cdEmailTemplateDtoMap">
        select * from cd_email_template e
        left join cd_email_rec r on e.templatenum=r.templatenum
         <if test="searchDto.newDepCode != null and searchDto.newDepCode !=''">
                AND  r.newdepcode=#{searchDto.newDepCode,jdbcType=VARCHAR}  
         </if> 
        <if test="searchDto.comCode != null and searchDto.comCode !=''">
                AND e.comcode =#{searchDto.comCode,jdbcType=VARCHAR}  
         </if>
        left join cc_user u on u.usercode=r.recno
        <where>
          <!--   <choose>
                <when test="">
                e.validstate=#{searchDto.validstate,jdbcType=VARCHAR} 
                </when>
                <otherwise>
                
                e.validstate=
                </otherwise>
            </choose> -->
        <if test="searchDto.comCode != null and searchDto.comCode !=''">
               AND  e.comCode=#{searchDto.comCode,jdbcType=VARCHAR}  
         </if>
        <if test="searchDto.validstate != null and searchDto.validstate !=''">
               AND  e.validstate=#{searchDto.validstate,jdbcType=VARCHAR}  
         </if>
         <if test="searchDto.templatecatno != null and searchDto.templatecatno !=''">
                AND e.templatecatno =#{searchDto.templatecatno,jdbcType=VARCHAR}  
         </if>
         </where> 
     </select>
	
</mapper>
