@charset "utf-8";
/* CSS Document */
/* reset */
body,div,ul,ol,li,dl,dt,dd,form,input,textarea,p,th,td,h1,h2,h3,h4{ margin:0; padding:0;}
img{ border:0;}
body,th,td,input,select,textarea,h1,h2,h3,h4,font{ font:13px "microsoft yahei",Tahoma, Geneva, sans-serif; font-weight:normal;}
html,body{  width:100%; overflow-x:hidden; background:url(about:blank);}
body{ background:#fff; }
ul,ol{ list-style-type:none;}
input,select,textarea{ vertical-align:middle; outline:none; resize:none;}
input::-ms-clear{ display:none;}
a{ text-decoration:none; }
a:hover{ text-decoration:none;}
.clearfix:after { display:block; content:""; clear:both;}
.clearfix{ *zoom:1;}
body.ovxhide{ overflow-x:hidden; }
.fl{ float:left;}
.fr{ float:right;}
.none{ display:none;}

/*框架*/
.box{ height:100%; overflow:hidden; background:url(../images/sidebar_bg.jpg) repeat-y;}
.content{float:left; width:100%; height:100%; margin-right:-120px; background:#fff;}
.wrap_con{ margin-right:120px;}
.header{ position:relative; height:60px; padding-bottom:3px; background:url(../images/he_bg.jpg) repeat-x bottom; }
.header .logo{ width:254px; height:29px; margin:0 auto 0; padding-top:16px;}
.header .logo a{ width:254px; height:29px; display:block;}
.header .top_nav{ width:550px; height:60px; position:absolute; top:0; right:0;}
.header .tool{ float:right; width:180px; height:60px; background:#f8f8f8;}
.header .tool a{ float:left;display:inline-block;}
.header .tool .home{ width:24px; height:24px;  margin:20px 0 0 10px; background:url(../images/frame.png) no-repeat 0 -735px;}
.header .tool .cdollect{  width:27px; height:22px; margin:20px 0 0 20px; background:url(../images/frame.png) no-repeat 0 -795px;}
.header .tool .site{ width:22px; height:22px; margin:20px 0 0 20px; background:url(../images/frame.png) no-repeat 0 -855px;}
.header .user{ float:right;width:340px; height:60px; padding:0 15px 0 10px; font-size:16px; color:#333333; line-height:60px;}
.header .quit{  float:right; width:24px; height:25px; margin:20px 0 0 20px; background:url(../images/frame.png) no-repeat 0 -915px;}
.sidebar{position:fixed;z-index:1000;float:left;left:0px;width:120px;padding-top:60px; padding-bottom:80px; height:100%; background:#0057a5;}
.sidebar ul{ height:100%; width:12%;}
#nav{z-index:5; position:relative; width:120px; height:10px; background:url(../images/nav_bg1.jpg) center top no-repeat; zoom:1; vertical-align:middle;}
.sidebar ul li{ z-index:5; position:relative; width:120px; height:78px; background:url(../images/nav_bg1.jpg) center bottom no-repeat; zoom:1; vertical-align:middle;}
.sidebar ul li:hover,.sidebar ul li.active{ background:url(../images/nav_bg.jpg) no-repeat;}
.sidebar ul li a{ background:url(../images/frame.png) no-repeat; padding:50px 0 15px 0; line-height:28px; display:block; text-align:center; color:#fff; font-weight:bold;}
.sidebar ul li a.drawer1{ background-position: center 21px;}
.sidebar ul li a.drawer2{ background-position: center -91px;}
.sidebar ul li a.drawer3{ background-position: center -193px;}
.sidebar ul li a.drawer4{ background-position: center -300px;}
.sidebar ul li a.drawer5{ background-position: center -397px;}
.sidebar ul li a.drawer6{ background-position: center -509px;}
.sidebar ul li a.drawer7{ background-position: center -615px;}
.tow_nav{ z-index:3; display:none; position:absolute; top:36px; padding-left:9px; left:120px; width:227px; }
.sidebar .tow_nav_last{margin-top:-120px}
.sidebar .tow_nav_last i{margin-top:110px}
.sidebar .threee_nav_last i{margin-top:0px}

.tow_nav .top{ width:227px; height:7px;background:url(../images/tow_nav_top.png) no-repeat left top; overflow:hidden;}
.tow_nav ul{ width:227px; height:auto; background:url(../images/tow_nav_con.png);}
.tow_nav ul li{ position:relative; width:197px; height:30px; line-height:30px;  padding:0 7px 0 23px; background:none; }
.tow_nav ul li.three_li{background:url(../images/frame.png) no-repeat 205px -962px;}
.tow_nav ul .three_li:hover{background:url(../images/frame.png) no-repeat 205px -962px;}
.tow_nav ul li:hover{ background:none;}
.tow_nav ul li a{ padding:0; text-align:left; color:#333; font-weight:normal; background:none;}
.tow_nav .bottom{ width:227px; height:11px; background:url(../images/tow_nav_bottom.png) no-repeat;}
.tow_nav i{ display:block; width:13px; height:23px; background:url(../images/tow_nav_jt.png) no-repeat; position:absolute; top:20px; left:2px;}
.three_nav{z-index:3; display:none; position:absolute; top:-19px; padding-left:9px; left:222px; width:227px; }
.three_nav .top{ width:227px; height:7px;background:url(../images/tow_nav_top.png) no-repeat left top;}
.three_nav ul{ width:227px; height:auto; background:url(../images/tow_nav_con.png);}
.three_nav ul li{ position:relative; width:197px; height:30px; line-height:30px;  padding:0 7px 0 46px; background:none; }
.three_nav ul li:hover{ background:none;}
.three_nav ul li a{ padding:0; text-align:left; color:#333; font-weight:normal; background:none;}
.three_nav .bottom{ width:227px; height:11px; background:url(../images/tow_nav_bottom.png) no-repeat;}
.sidebar .tow_nav .three_nav i{ display:block; width:13px; height:23px; background:url(../images/tow_nav_jt.png) no-repeat; position:absolute; top:20px; left:2px;}

.four_nav{z-index:3; display:none; position:absolute; top:-19px; padding-left:9px; left:222px; width:227px; }
.four_nav .top{ width:227px; height:7px;background:url(../images/tow_nav_top.png) no-repeat left top;}
.four_nav ul{ width:227px; overflow:hidden; height:auto; background:url(../images/tow_nav_con.png);}
.four_nav ul li{ position:relative; width:197px; height:30px; line-height:30px;  padding:0 7px 0 46px; background:none; }
.four_nav ul li:hover{ background:none;}
.four_nav ul li a{ padding:0; text-align:left; color:#333; font-weight:normal; background:none;}
.four_nav .bottom{ width:227px; height:11px; background:url(../images/tow_nav_bottom.png) no-repeat;}
.sidebar .tow_nav .four_nav i{ display:block; width:13px; height:23px; background:url(../images/tow_nav_jt.png) no-repeat; position:absolute; top:20px; left:2px;}

.footer{ width:%100; height:38px; line-height:38px; color:#fff; text-align:center; background:#8b8b8b;}